<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.bpinto</string>
	<key>connections</key>
	<dict>
		<key>48088383-DFCA-494E-AA9E-DB94F90652CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49AF1A77-FD55-45AF-9CA5-0FD0DEC47E26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C705157F-8432-4042-8D2E-25FDF783E3CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>49AF1A77-FD55-45AF-9CA5-0FD0DEC47E26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CEFECC0-142E-4FE5-B26A-DB44EEF67937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C705157F-8432-4042-8D2E-25FDF783E3CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDCEF74B-C076-45A3-95BC-7D903F93747C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bruno Pinto</string>
	<key>description</key>
	<string>Alfred extension manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Extension Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Extension Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8CEFECC0-142E-4FE5-B26A-DB44EEF67937</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Installing {query}</string>
				<key>title</key>
				<string>Extension Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CDCEF74B-C076-45A3-95BC-7D903F93747C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -r '$data = json_decode($argv[1], true); echo $data["title"];' -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C705157F-8432-4042-8D2E-25FDF783E3CA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>install</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>php -f search.php -- "{query}"</string>
				<key>subtext</key>
				<string>Install alfred extension</string>
				<key>title</key>
				<string>Install extension</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>48088383-DFCA-494E-AA9E-DB94F90652CE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f download.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49AF1A77-FD55-45AF-9CA5-0FD0DEC47E26</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>48088383-DFCA-494E-AA9E-DB94F90652CE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>49AF1A77-FD55-45AF-9CA5-0FD0DEC47E26</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8CEFECC0-142E-4FE5-B26A-DB44EEF67937</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C705157F-8432-4042-8D2E-25FDF783E3CA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CDCEF74B-C076-45A3-95BC-7D903F93747C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://bpinto.github.io</string>
</dict>
</plist>
